{% extends "layout.html" %}
{% block title %}Add Resident{% endblock title %}
{% block body %}
<h3>Add Resident</h3>
<hr>
<div class="container">
    <form method="post" class="needs-validation">
        <dl>
            <div class="mb-3">
                <label class="form-label">Resident Name</label>
                <input type="text" class="form-control" name="residentFullName" aria-describedby="residentNameHelp">
                <div id="nameHelp" class="form-text">Please enter the full name(first name, last name).</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Room Number</label>
                <input type="text" id="room-number" class="form-control" name="residentRoomNum" aria-describedby="roomNumHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">Laundry Room Number</label>
                <input type="text" class="form-control" name="laundryRoomNum" aria-describedby="laundryNumHelp">
                <div id="laundryNumHelp" class="form-text">Please enter laundry room number.</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Coin Count</label>
                <input type="number" class="form-control" name="coinCount" aria-describedby="coinCountHelp">
                <div id="coinCountHelp" class="form-text">Please enter the number of coins.</div>
            </div>
            <p>Type of Laundry</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="laundryType" value="White">
                <label class="form-check-label" for="inlineCheckbox1">White</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="laundryType" value="Colored">
                <label class="form-check-label" for="inlineCheckbox2">Colored</label>
              </div>
              <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="laundryType" value="Both">
                <label class="form-check-label" for="inlineCheckbox2">White & Colored</label>
              </div> -->
              <br><br>
              <button type="submit" class="btn btn-success mb-3">Save Resident and Start Timer</button>        
        </dl>
    </form>
</div>

<script>
    // All time is in minutes
    const coinCount = document.getElementById('coin-count');
    const checkedWhite = document.getElementById('checkBox-white');
    const checkedColor = document.getElementById('checkBox-colored');
    const calcTime = document.getElementById('calc-time');
    const timeGiven = document.getElementById('time-given');

    //! Form control elements
    const residentName = document.getElementById('resident-name');
    const submitBtn = document.getElementById('submit-btn');
    const roomNumber = document.getElementById('room-number');
    const laundaryNumber = document.getElementById('laundary-number');
    const dropDownBtn = document.getElementById('')
    
    let whiteTime = 65, coloredTime = 45;
    let dryTime = 45;
    let transferTime = 5;    
    let totalTime = 0;

    //* Check the calculated time on button click
    calcTime.addEventListener('click', ()=> { 
        if (checkedWhite.checked && checkedColor.checked)
        {
            totalTime = whiteTime + coloredTime + transferTime + (dryTime*2);
        }
        else if (checkedColor.checked && !checkedWhite.checked)
        {
            totalTime = coloredTime + transferTime + dryTime;
        }
        else if (checkedWhite.checked && !checkedColor.checked)
        {
            totalTime = whiteTime + transferTime + dryTime;
        }

        if (!checkedWhite.checked && !checkedColor.checked)
        {
            alert("Please select one of the check boxes");
        }

        timeGiven.value = totalTime;
    });

    // Form control is done even the final submit button is clicked
    submitBtn.addEventListener('click', (e)=>
    {
        let residentNameStr = residentName.value;
        let strippedStr = residentNameStr.trim(); 

        var isRoomOnlyNumber = /^\d+$/.test(roomNumber.value);
        var isLaundaryOnlyNumber = /^\d+$/.test(laundaryNumber.value);
        var isCoinCountOnlyNumber = /^\d+$/.test(coinCount.value);
 
        if (!isRoomOnlyNumber)
        {
            alert("Please put in correct Room number");
            e.preventDefault();
        }  

        if(!isLaundaryOnlyNumber)
        {
            alert("Please put in correct Laundary Number value");
            e.preventDefault();
        }

        if(!isCoinCountOnlyNumber)
        {
            alert("Coin count should only be a numbers");
            e.preventDefault();
        }

        if (timeGiven.value == 0)
        {
            alert("Please calculate the time correctly");
            e.preventDefault();
        }
    });

    
</script>
{% endblock body %}
