{% extends "layout.html" %}
{% block title %}All Logs{% endblock title %}
{% block body %}

{% if allTimeLogs %}
<h2>All Logs</h2>
<hr>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Resident</th>
        <th scope="col">Room Number</th>
        <th scope="col">Laundry Room Number</th>
        <th scope="col">Type</th>
        <th scope="col">Coins</th>
        <th scope="col">Timer</th>
        <th scope="col">Status</th>
        <th scope="col">Entry Date</th>
      </tr>
    </thead>
    <tbody>
        {% for log in allTimeLogs %}
        <tr>   
          <td>{{ log['fullname'] }}</td>
          <td>{{ log['roomNum'] }}</td>
          <td>{{ log['laundryNum'] }}</td>
          <td>{{ log['laundryType'] }}</td>
          <td>{{ log['coinCount'] }}</td>
          <td></td>
          <td></td>
          <td>{{ log['creationDate'] }}</td>
        {% endfor %}
      
    </tbody>

{% else %}
<div class="alert alert-danger">There are no logs.</div>

{% endif %}

{% endblock body %}