{% extends "layout.html" %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

<h2>Dashboard</h2>
<h6>Current login: {{ session['username'] }}</h6>
<hr>
<a name="addResident" class="btn btn-danger" href="/dashboard/addResident" role="button">Add Resident</a>
<hr>
{% if last4Logs %} 
<h3>Logs</h3>
<hr>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Resident</th>
        <th scope="col">Room Number</th>
        <th scope="col">Laundry Room Number</th>
        <th scope="col">Laundry Type</th>
        <th scope="col">Timer</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
        {% for log in last4Logs %}
        <tr>   
          <td>{{ log['fullname'] }}</td>
          <td>{{ log['roomNum'] }}</td>
          <td>{{ log['laundryNum'] }}</td>
          <td>{{ log['laundryType'] }}</td>
          <td>
            <div id="countdownTest"><p>{{countdownTest}}</p></div>
          </td>
          <td>
            
              <div class="form-check form-switch">
                <form action="post">
                  <input class="form-check-input" type="checkbox" name="startPauseToggle" value="Start">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Start/Pause</label> 
                </form>
              </div>
            </form> 
          </td>
        {% endfor %}
      
    </tbody>
{% else %}
<div class="alert alert-danger">There are no logs.</div>
{% endif %}

<script>
  $(function(){ // Encapsulating function
    window.setInterval(function(){  // every 1000 ms, run loadNewDecimal()
      countdownClock()
    }, 1000) 

  function countdownClock(){
    $.ajax({ // defining some variables for AJAX
        url:"/updateTimer",
        type:"POST",
        dataType:"json",
        success:function(data){ // in here, data gets replaced in the div(id has to be specified)
            $(countdownTest).replaceWith(data)
          }
    });
}
});
</script>
{% endblock body %}