{% extends "layout.html" %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

<h2>Dashboard</h2>
<h6> Current login: {{ session['username'] }} </h6>
<hr>
<a name="addResident" class="btn btn-danger" href="/dashboard/addResident" role="button">Add Resident</a>
<hr>
{% if last2Logs %} 
<h3>Logs</h3>
<hr>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Resident</th>
        <th scope="col">Room Number</th>
        <th scope="col">Laundry Number</th>
        <th scope="col">Laundry Type</th>
        <th scope="col">Timer</th>
        <th scope="col">Start</th>
        <th scope="col">Pause</th>
        <th scope="col">Stop</th>
      </tr>
    </thead>
    <tbody>
        {% for log in last2Logs %}
        <tr>   
          <td>{{ log['fullname'] }}</td>
          <td>{{ log['roomNum'] }}</td>
          <td>{{ log['laundryNum'] }}</td>
          <td>{{ log['laundryType'] }}</td>
          <td>
            <span class="timer">{{ log['givenTime'] }}</span>        
          </td>
          <td>            
              <div class="form-check form-switch">
                <form action="post">
                  <a href=# id=test><button type="button" class="btn btn-primary start">Start</button></a> 
                </form>
              </div>
          </td>
          <td>            
            <div class="form-check form-switch">
              <form action="post">
                <button type="button" class="btn btn-warning pause">Pause</button> 
              </form>
            </div>
        </td>
          <td>            
            <div class="form-check form-switch">
                <form action="post">
                  <button type="button" class="btn btn-danger stop">Stop</button> 
                </form>
              </div>
          </td>
        {% endfor %}
      
    </tbody>
{% else %}
<div class="alert alert-danger">There are no logs.</div>
{% endif %}

<!-- JAVASCRIPT START  -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="application/javascript">
  // JAVASCRIPT START
  var timer = document.querySelectorAll('.timer');
  var startBtns = document.querySelectorAll('.start');
  var pauseBtns = document.querySelectorAll('.pause');
  var stopBtns = document.querySelectorAll('.stop');
  
  var startBtnLength = startBtns.length;

  var timerData = [];
  const getTimerData = () => {
      for (var i = 0 ; i < timer.length ; i++)
      {
         timerData = [...timerData, timer[i].innerHTML];
      }
  }
  getTimerData();

  for (let i = 0; i < startBtnLength; i++) {
      let totalTime = 5; //timerData[i];
      let count = 0;
      let countDown;  
      
      pauseBtns[i].addEventListener('click', () => {
          startBtns[i].disabled = false;
          clearInterval(countDown);
      });

      stopBtns[i].addEventListener('click', () => {
          startBtns[i].disabled = true;
          pauseBtns[i].disabled = true;
          clearInterval(countDown);
          stopBtns[i].disabled = true;

          $.getJSON('/stopMessage', () => {
            console.log("This is working with the button click");
          });
      });

      startBtns[i].addEventListener('click', () => {
        startBtns[i].disabled = true;   
        stopBtns[i].disabled = false;
        pauseBtns[i].disabled = false;       

        countDown = setInterval(() => {           
          if (totalTime == 0)
          {
            alert("Time finished");
            totalTime--;           
          }
          else if(totalTime % 10 == -0)
          {
              $.getJSON('/overtimeMessage', () => {
                  console.log("This is working with the button click");
                  
              });
              totalTime--; 
          }
          else
          {
              totalTime--;
              timer[i].innerHTML = totalTime;             
          }
      }, 1000);
    })
  }  

  // Start message button py function call,

  $(() => {
          $('a#test').on('click', (e) => {
            e.preventDefault()
            $.getJSON('/startMessage', () => {
                console.log("This is working with the button click");
                
            });
            return false;
          });
    });

</script>
<!-- JAVASCRIPT END  -->

{% endblock body %}