{% extends "layout.html" %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

<h2>Dashboard</h2>
<h6> Current login: {{ session['username'] }} </h6>
<hr>
<a name="addResident" class="btn btn-danger" href="/dashboard/addResident" role="button">Add Resident</a>
<hr>
{% if last4Logs %} 
<h3>Logs</h3>
<hr>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Resident</th>
        <th scope="col">Room Number</th>
        <th scope="col">Laundry Room Number</th>
        <th scope="col">Laundry Type</th>
        <th scope="col">Timer</th>
        <th scope="col">Start</th>
        <th scope="col">Stop</th>
      </tr>
    </thead>
    <tbody>
        {% for log in last4Logs %}
        <tr>   
          <td>{{ log['fullname'] }}</td>
          <td>{{ log['roomNum'] }}</td>
          <td>{{ log['laundryNum'] }}</td>
          <td>{{ log['laundryType'] }}</td>
          <td>
            <span class="timer">{{ log['givenTime'] }}</span>        
          </td>
          <td>            
              <div class="form-check form-switch">
                <form action="post">
                  <button type="button" class="btn btn-primary start">Start</button> 
                </form>
              </div>
            </form> 
          </td>
          <td>            
            <div class="form-check form-switch">
              <form action="post">
                <button type="button" class="btn btn-warning stop">Pause</button> 
              </form>
            </div>
          </form> 
        </td>
        {% endfor %}
      
    </tbody>
{% else %}
<div class="alert alert-danger">There are no logs.</div>
{% endif %}

<script type="application/javascript">
  var timer = document.querySelectorAll('.timer');
  var startBtns = document.querySelectorAll('.start');
  var stopBtns = document.querySelectorAll('.stop');
  
  var startBtnLength = startBtns.length;

  var timerData = [];
  const getTimerData = () => {
      for (var i = 0 ; i < timer.length ; i++)
      {
         timerData = [...timerData, timer[i].innerHTML];
      }
  }
  getTimerData();


  for (let i = 0; i < startBtnLength; i++) {
      let totalTime = timerData[i];
      let count = 0;
      let countDown;  
      
      stopBtns[i].addEventListener('click', () => {
            startBtns[i].disabled = false;
            clearInterval(countDown);
      });

      startBtns[i].addEventListener('click', () => {
        startBtns[i].disabled = true;          
  
        countDown = setInterval(() => {           
          if (totalTime <= 0)
          {
            alert("Time finished");
            clearInterval(countDown);  
            totalTime = timerData[i];    
            timer[i].innerHTML = totalTime;    
            startBtns[i].disabled = false;              
          }
          else
          {
              totalTime--;
              timer[i].innerHTML = totalTime;             
          }
      }, 1000);
    })
  }  
</script>

{% endblock body %}