{% extends "layout.html" %}
{% block title %}KeyFinder Home{% endblock title %}
{% block body %}
    <img src="static/img/logo.png" width="100" height="100" style="margin-left: 600px;">
    <h1 style="text-align: center;">KeyFinder Homepage</h1>
    <hr>

    <div class="container">
        <h4 style="text-align: center;">Documentation Links</h4>
        <br>
        <div class="row justify-content-md-center">
            <div class="card" style="width: 18rem; background-color: #f8b12e;">
                <!-- <div class="img">
                    <img src="static/img/telegram.png" class="card-img-top" alt="telegram image">       
                </div> -->
                <div class="card-body">
                  <h5 class="card-title">Telegram Bot Setup Guide</h5>
                  <p class="card-text">For learning more about the Telegram Bot setup, press the button.</p>
                  <a href="https://github.com/eyupbarlas/KeyFinder-Docs/blob/main/Docs/Enabling%20Telegram%20Bot(ENG).md" class="btn btn-primary stretched-link">Check Out</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; background-color: #f8b12e;">
                <!-- <div class="img">
                    <img src="static/img/telegram.png" class="card-img-top" alt="telegram image">       
                </div> -->
                <div class="card-body">
                  <h5 class="card-title">
                    Przewodnik Konfiguracji Bota Telegram</h5>
                  <p class="card-text">Aby dowiedzieć się więcej o konfiguracji Telegram Bot, naciśnij przycisk.</p>
                  <a href="https://github.com/eyupbarlas/KeyFinder-Docs/blob/main/Docs/Enabling%20Telegram%20Bot(PL).md" class="btn btn-primary stretched-link">Check Out</a>
                </div>
            </div>
        </div>
    </div>
    

{% endblock body%}