{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h3>Login</h3>
    <hr>
    <form method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="usernameEntry" aria-describedby="nameHelp">
          <div id="nameHelp" class="form-text">Please enter your username.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="passwordEntry" aria-describedby="passHelp">
          <div id="passHelp" class="form-text">Please enter your password.</div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
</div>
{% endblock body %}