<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8b12e;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="static/img/key3.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        KeyFinder
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
              <li><a class="dropdown-item" href="#">English <img src="static/img/us.png" alt="English"></a></li>
              <li><a class="dropdown-item" href="#">Polskie <img src="static/img/pl.png" alt="Polish"></a></li>
              <li><a class="dropdown-item" href="#">Türkçe <img src="static/img/tr.png" alt="Turkish"></a></li>
            </ul>
          </li>
          {% if session['logged_in'] and session['username'] == "sys_admin" %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/allLogs">All Logs</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if session['logged_in'] %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
            {% endif %}
        </ul>


      </div>
    </div>
  </nav>